body{
    background-color: rgb(247, 40, 85);
    text-align: center;
}
h1{
    color: rgb(119, 81, 0);
    font-size: 25px;

}
h3{
    color: rgb(126, 0, 69);
}
h2{
    font-size: 50px;
}